<nav class="pagination" role="navigation" aria-label="Page list navigation"> 
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}" name="newer posts">&laquo; Newer</a>
    {{else}}
		<a class="newer-posts" name="newer posts">&nbsp;</a>
	{{/if}}
    <div class="page-number">Page {{page}} of {{pages}}</div>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}" name="older posts">Older &raquo;</a>
    {{/if}}
</nav>
