{{!-- Related Posts --}}
{{#get "posts" include="tags,authors" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}+feature_image:-null" as |related|}}
  <section class="related-posts">
    <h3 class="related-title">{{t "Passend dazu?"}}</h3>
    {{#foreach related}}
      <article class="{{post_class}}">
        <a href="{{url}}">{{title}}</a>
      </article>
    {{/foreach}}
  </section>
{{/get}}