{{!< default}}


<main class="content" role="main">

	<section class="featured-content">
		{{#get "posts" filter="featured:true" limit="5"}}
        	{{#if posts}}
            	{{#foreach posts}}
                	<a href="{{url}}" class="featured-post-short">
						{{date published_at format="DD.MM.YYYY"}} 
						&#8729; 
						{{#primary_tag}}
							<p>{{name}}</p>
						{{/primary_tag}} 
						&#8729;
						{{title}}
					</a>
            	{{/foreach}}
        	{{/if}}
    	{{/get}}
	</section>

    {{#foreach posts}}

    <article class="preview">
        <header>
			<div class="post-meta">
				{{#if featured}}<span style="color: #ff8c00;"><i class="fas fa-fire" title="FEATURED POST!"></i></span>{{/if}}
				<time class="post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">{{date published_at format="DD.MM.YYYY"}}</time> &#8729;
				{{#primary_tag}}
					<a href="{{url}}">{{name}}</a>
				{{/primary_tag}}
				&#8729; <a href="{{url}}#commento" class="commento-count-pre"></a>
			</div>
			
			<h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
			
        </header>
        <section class="post-content">
			{{^has tag="#nofeatimg"}}
			{{#if feature_image}}
				{{> post-img}}
			{{/if}}
			{{/has}}
			
			{{#if custom_excerpt}}
				<p>{{custom_excerpt}}</p>
				<p><a class="read-more" href="{{url}}">Read on &raquo;</a></p>
			{{else}}
				{{content}}
			{{/if}}
			
			<div class="tagwrapper">
				{{#if tags}}
					<div class="post-data tags">Tags: {{tags prefix="" separator=", "}}</div>
				{{/if}}
				<div class="postshare">
					<ul>
					<li class="postshare-fb">
						<a title="Share to Fackbook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;"><i class="fab fa-facebook"></i></a>
					</li>
					<li class="postshare-tw">
						<a title="Share to Twitter" href="https://twitter.com/share?text={{encode title}}&url={{url absolute='true'}}" onclick="window.open(this.href, 'twitter-share', 'width=550, height=235'); return false;"><i class="fab fa-twitter"></i></a>
					</li>
					</ul>
				</div>
			</div>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>