{{!< default}}

<main class="content" role="main">
	
	{{#tag}}
	{{#if feature_image}}
	<div class="tag-page-with-img">
		<img src="{{img_url feature_image}}" class="tag-page-img">
		<p>
			<span class="tag-page-name"><i class="far fa-folder"></i><br>{{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}} in {{name}}</span><br>
            <span class="tag-page-desc">{{description}}</span>  
		</p>
	</div>
	{{else}}
	<div class="tag-page">
		<p>
			<span class="tag-page-name"><i class="far fa-folder"></i><br>{{name}}</span><br>
			{{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='one post' plural='% posts'}}
             {{/if}}
		</p>
	</div>
	{{/if}}
	{{/tag}}

    {{#foreach posts}}

    <article class="preview">
        <header>
			<div class="post-meta">
				{{#if featured}}<span style="color: #ff8c00;"><i class="fas fa-fire" title="FEATURED POST!"></i></span>{{/if}}
				<time class="post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss.SS\Z"}}">{{date published_at format="DD.MM.YYYY"}}</time> | 
				{{#primary_tag}}
					<a href="{{url}}">{{name}}</a>
				{{/primary_tag}}
			</div>
			
			<h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
			
        </header>
        <section class="post-content">
			{{^has tag="#nofeatimg"}}
			{{#if feature_image}}
			<figure class="post-image">
				<a href="{{url}}" class="feature_image_link" name="{{{title}}}" data-featherlight="{{img_url feature_image size="xl"}}"><img class="feature_image" srcset="{{img_url feature_image size="s"}} 324w,
                    {{img_url feature_image size="m"}} 560w,
                    {{img_url feature_image size="l"}} 1024w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 324px, 560px"
            src="{{img_url feature_image size="m"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"></a>
			{{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
			</figure>
			{{/if}}
			{{/has}}
			
			{{#if custom_excerpt}}
				<p>{{custom_excerpt}}</p>
				<p><a class="read-more" href="{{url}}">Read on &raquo;</a></p>
			{{else}}
				{{content}}
			{{/if}}
			
			
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

</main>